<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/all.css">
</head>
<body class="register-page">
    <form action="/register" method="post" class="auth-form">
        <h2>Registrar-se</h2>
        <label class="auth-label">
            <input placeholder="Digite seu primeiro nome" type="text" name="nome" value="<%= values.nome || '' %>">
        </label>
        <label class="auth-label">
            <input placeholder="Digite seu email" type="text" name="email" value="<%= values.email || '' %>">
        </label>
        <label class="auth-label">
            <input placeholder="Digite uma senha" type="password" name="senha" value="<%= values.senha || '' %>" id="password-input">
            <label class="show-pass-label">
                <input type="checkbox" class="show-pass" hidden>
                <span>mostrar senha</span>
            </label>
        </label>
        <p class="error-message"><%= error %></p>
        <button type="submit" class="btn-basico">Registrar-se</button>
        <span style="text-align: center;">Já tem uma conta? 
            <a style="color: #00386d" href="/login">Entre aqui!</a>
        </span>
    </form>
    <script>
        const showPass = document.querySelector(".show-pass")
        const showPassLabel = document.querySelector(".show-pass-label")
        const passwordInput = document.querySelector("#password-input")

        showPass.addEventListener("click", () => {
            if(showPass.checked){
                passwordInput.setAttribute("type", "text")
                showPassLabel.querySelector("span").innerText = "ocultar senha"
            } else {
                showPassLabel.querySelector("span").innerText = "mostrar senha"
                passwordInput.setAttribute("type", "password")
            }
        })
    </script>
</body>
</html>